
.aside .logo a::before{
    border-top:4px solid #72b626;
    border-left:4px solid #72b626;
}

.aside .logo a::after{
    border-right:4px solid #72b626;
    border-bottom:4px solid #72b626;
}

body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active{
    color: #72b626;
}

.btn,
.experience .timeline .circle-dot,
.experience .timeline .timeline-item::before,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a{
    background-color: #72b626;
    display: inline-block;
}